* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mostra {
    background-color:aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    jus
}

#dadi {
    display: flex;
}

#mostra-dado-utente, #mostra-dado-pc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mostra-dado-utente.visible, #mostra-dado-pc.visible, #risultato.visible {
    display: block;
}

#mostra-dado-utente.notvisible, #mostra-dado-pc.notvisible, #risultato.notvisible {
    display: none;
}
