* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mostra {
    background-color:aqua;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#mostra-dado-utente, #mostra-dado-pc {
    display: flex;
    align-items: center;
}
